.playing-card{
    width: 150px;
    background-color: rgba(0,0,0,0);
    border: none !important;
    display: flex;
    max-width: 100%;
}

.card-flip > div{
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    margin: 0;
    display: flex;
}

.card-flip[flip='1'] > .card-back {
    transform: rotateY(-180deg);
}
.card-flip[flip='1'] > .card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(0deg);
    cursor: pointer;
}

.card-front {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

@keyframes flip {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(90deg);
    }
}