.profile {
    display: none;
}
.profile[unlocked='1'] {
    display: block;
}
.experience {
    display: none;
}
.experience[unlocked='1'] {
    display: block;
}
.education {
    display: none;
}
.education[unlocked='1'] {
    display: block;
}
.skills {
    display: none;
}
.skills[unlocked='1'] {
    display: block;
}
.languages {
    display: none;
}
.languages[unlocked='1'] {
    display: block;
}
.soft-skills {
    display: none;
}
.soft-skills[unlocked='1'] {
    display: block;
}