.profile {
    display: none;
}
.profile[unlocked='1'] {
    display: block;
}
.experience {
    display: none;
}
.experience[unlocked='1'] {
    display: block;
}
.education {
    display: none;
}
.education[unlocked='1'] {
    display: block;
}
.skills {
    display: none;
}
.skills[unlocked='1'] {
    display: block;
}
.languages {
    display: none;
}
.languages[unlocked='1'] {
    display: block;
}
.soft-skills {
    display: none;
}
.soft-skills[unlocked='1'] {
    display: block;
}

.td-30{
    width: 30%;
}
.td-70{
    width: 70%;
}
td{
    text-align: left;
}
.table{
    border-bottom: 1px solid black;
}
.badge-pill{
    color: black;
}
.skill{
    border: 1px solid black;
    border-radius: 25px;
    margin-right: 5px;
    padding: 5px 6px 5px 6px;
}